:root {
  // Default light mode variables
  --primary-color-light: #3498db;
  --secondary-color-light: #2ecc71;
  --background-color-light: #ffffff;
  --text-color-light: #333333;

  // Default dark mode variables
  --primary-color-dark: #1a1a1a;
  --secondary-color-dark: #3a3a3a;
  --background-color-dark: #1d1d1d;
  --text-color-dark: #ffffff;
}
